<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nativecache" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>nativeCache</name>
    <js-module name="NativeCache" src="www/NativeCache.js">
        <clobbers target="cordova.plugins.nativecache" />
    </js-module>
     <!-- android -->
  	<platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
      		<feature name="NativeCache">
        		<param name="android-package" value="com.huasco.plugins.NativeCache"/>
      		</feature>
   		 </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    	<source-file src="src/android/NativeCache.java" target-dir="src/com/huasco/plugins"/>
    	<source-file src="src/android/CacheDao.java" target-dir="src/com/huasco/greendao/utils"/>
    	<source-file src="src/android/CacheDaoModel.java" target-dir="src/com/huasco/greendao/gen"/>
    	<source-file src="src/android/CacheDaoModelDao.java" target-dir="src/com/huasco/greendao/gen"/>
    	<source-file src="src/android/DaoMaster.java" target-dir="src/com/huasco/greendao/gen"/>
    	<source-file src="src/android/DaoRespModel.java" target-dir="src/com/huasco/greendao/utils"/>
    	<source-file src="src/android/DaoSession.java" target-dir="src/com/huasco/greendao/gen"/>
    	<source-file src="src/android/GreenDaoManager.java" target-dir="src/com/huasco/greendao/utils"/>
    	<source-file src="src/android/TempCacheDao.java" target-dir="src/com/huasco/greendao/utils"/>
    	<source-file src="src/android/TempCacheDaoModel.java" target-dir="src/com/huasco/greendao/gen"/>
    	<source-file src="src/android/TempCacheDaoModelDao.java" target-dir="src/com/huasco/greendao/gen"/>
    	<framework src="org.greenrobot:greendao-gradle-plugin:3.2.2" />
    	<framework src="org.greenrobot:greendao:3.2.2" />
    	<framework src="com.alibaba:fastjson:1.2.36" />
  	</platform>
</plugin>
